:root {
  --font-color: #1c301f;
  --background-color: #355e3b;
}


main {
  font-family: 'Work Sans', sans-serif !important;
  display: flex;
  height: calc(100vh - 80px); 
  max-height: calc(100vh - 80px);
  overflow:hidden;
  flex-direction: row;
}

body {
  background-color: var(--background-color);
  padding: 0;
  margin: 20px;
}

div.nav {
  display: flex;
  flex: 0 0 300px;
  align-items: center;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav {
  margin-left: -300px;
}
div.nav > nav ul li a.active {
  left: -230px !important;
}
div.nav.active {
  margin-left: 0;
  flex: 0 0 calc(100vw - 40px) !important;
}

div.nav.active > nav ul li a.active:before, div.nav > nav ul li a:hover:before {
  left: 70px !important;
  opacity: 1 !important;
}

.nav-toggle {
  font-size: 24px;
  color: var(--font-color);
  position: absolute;
}

@media screen and (min-width: 480px) {
  div.nav {
    margin-left: 0;
  }
  
  div.nav > nav ul li a.active:before, div.nav > nav ul li a:hover:before{
    left: 70px;
    opacity: 1 !important;
  }

  div.hello {
    flex-direction: row !important;
    padding-left: 10px;
  }

  .nav-toggle {
    display: none;
  }

  div.nav > nav ul  li a:before {
    left: 50px;
  }

  div.content {
    flex: 0 0 calc(100vw - 400px);
    padding: 10px 40px 10px 40px;
  }
}

div.nav > nav {
  padding: 10px 40px 10px 10px;
  border-right: 5px solid var(--font-color);
  width: 100%;
}

div.nav > nav ul li {
  list-style: none;
  line-height: 50px;
}
div.nav > nav ul li a {
  text-decoration: none;
  font-size: 40px;
  transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.nav > nav ul li a, footer a {
  color: var(--font-color);
  font-weight: 500;
}

nav ul li a.active{
  font-weight: bold !important;
}

div.nav > nav ul li a:before {
  content: "\f0da";
  font-weight: bold;
  position: absolute;
  opacity: 0;
  transition: left .5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: 'Font Awesome 6 Free';
}

div.nav > nav ul li a.active {
  color: white;
  margin-left: 30px;
}

div.nav > nav ul li a:hover {
  margin-left: 30px;
}

div.nav > nav ul li a.active:hover {
  font-weight: bold;
}

div.nav > nav ul li a:hover, footer a:hover, .nav-toggle.active {
   color: #0f1a11;
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.content h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 100px;
  text-shadow: 5px 10px 0px var(--font-color);
}
div.content p {
  margin: 0;
  padding: 0;
  color: white;
}

footer {
  height: 40px;
  max-height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  vertical-align: middle;
}

div.hello {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

div.hello div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.hello div>p {
  padding-left: 7.5px;
  font-size: 20px;
  line-height: 18px;
}